# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
**/.env
**/.env.*
back-end/.env
front-end/.env

# Logs
logs
*.log
log/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Build
back-end/dist
front-end/build
front-end/.next